.main-content {
    width: 50%;
    height: 300px;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 200px;
}

body {
    color: #414141;
    background-color: #EEEEEE;
    font-size: 16px;
}

header {
    display: flex;
    width: 100%;
    background: #D6E9FE;
}
